.button {
    display: inline-block;
    padding: 8px 16px;
    border: 2px solid transparent;
    border-radius: 4px;
    background-color: var(--dark-blue);
    color: var(--light-blue);
    text-decoration: none;
    text-align: center;
    transition: all 0.3s ease;
}

.button:hover {
    background-color: var(--blue);
    color: var(--light-gray);
    border: 2px solid var(--dark-blue);
    cursor: pointer;
}