:root {
  font-family: "Inter", sans-serif;

  --dark-blue: #101925;
  --blue: #20314A;

  --light-blue: #93afd5;
  --light-gray: #d1d8e1;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--dark-blue);
}

a {
  color: inherit;
  text-decoration: none;
}
